<section class="page-form-ele page" data-ng-controller="productionCtrl">

	<form id="serialsForm" name="serialsForm" class="form-validation" novalidate>


		<!-- <section class="panel panel-default">
			<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Configuración</strong></div>

			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<div class="input-group">
							<input type="number" class="form-control" ng-minlenght=0 ng-maxlenght=30 ng-model="quantity">
						</div>
					</div>
					<div class="col-md-9">
						<button ng-click="loadInputs()" class="btn btn-primary btn-block"><span class="fa fa-file-o"></span> Preparar</button>
					</div>
				</div>


			</div>	
		</section> -->

		<section class="panel panel-default">
			<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Ingreso de Seriales</strong></div>
			<div class="panel-body" >

				<div class="col-sm-4 form-group" ng-repeat="inp in inputs">
					<input type="text"
					class="form-control input-warning"
					required
					data-ng-trim='false'
					ng-model="inp"
					ng-enter-labels
					data-validate-labels
					placeholder={{inp.placeholder}} 
					name="input{{$index+1}}" id="input{{$index+1}}" > 
				</div>

			</div>
		</section>

		<section class="panel panel-default">
			<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Impresion y Registro </strong></div>
			<div class="panel-body" >

				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
					<button class="btn btn-default btn-block"
					data-ng-disabled="!canRevert()"
					data-ng-click="revert()"
					><span class="fa fa-eraser"></span> Limpiar Formulario</button>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
					<button class='btn btn-info btn-block' data-ng-disabled="!canSubmit()" ng-click="requestLabels()"><span class="fa fa-print"></span> Solicitar Etiquetas</button>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
					<button type="submit"
					class="btn btn-success btn-block"
					ng-click="confirmLabels()"
					data-ng-disabled="!canSubmit()"
					><span class="fa fa-database"></span> Confirmar Impresiones</button>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
					<button ng-show="currentUser.userTypeID=='ADM'" class='btn btn-danger btn-block' ng-click="roYTesting()"><span class="fa fa-user-secret"></span> Roy TesT</button>
				</div>

				<hr>

				<div class="callout callout-info col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
					<p>Los botones de solicitar etiquetas y confirmar impresiones estaran disponibles cuando se ingresen y validen todos los seriales y tokens.</p>
					<p>El Boton de borrar estara disponible cuando algun dato se haya ingresado.</p>
				</div>
				
			</div>
		</section>

	</form>

</section>