.landing-header {
	padding: 10px 0;
	background-color: #1428A0;
}

// tetero

.logo {
	font-size: 30px;
	font-family: tahoma;
	color: white;
}

.landing-footer {
	font-family: tahoma;
	color: white;
	background-color: #525252;
	padding: .5em 0;
}

.landing-nav{
	background-color: #1428A0;
	font-family: tahoma;
}


// NavBar Others
.navbar-default .navbar-brand{
	color: white;	
	font-size: 16px;
}

.navbar-default .navbar-toggle {
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar{
	color: white;
}

// menu Items
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #1428A0;
	background-color: white;
}

.navbar-default .navbar-nav > li > a{
	color: white;
}


// Dropdown
.navbar-default .navbar-nav .dropdown-menu{
	color: white;
	background-color: #1428A0	
}

.navbar-default .navbar-nav .dropdown-menu > li > a{
	color: white;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	color: #1428A0;
	background-color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #1428A0;
	background-color: white;
}

// Cuando esta en mobil abierto
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #1428A0;
	background-color: white;
}

.page-canje {

	.canje-info-container {
		margin: 0 -15px 50px;
		background-color: $reverse;
		@include box-shadow( 0 0 5px rgba(0,0,0,.1) );

		>ul {
			display: block;
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 14px;
			text-align: center;

			li {
				display: block;
				border-top: 1px solid $state-default-border;
				padding: 20px;
				@media (min-width: $screen-md) {
					display: inline-block;
                    // float: left;
                    padding: 30px 20px;
                    border-top: 0;
                    border-right: 1px solid $state-default-border;   
                    &:first-child {
                    	border-left: 1px solid $state-default-border;
                    }                 
                }

                > i {
                	margin-right: 10px;
                	font-size: 18px;
                }

                a {
                	color: $text-color;
                }
            }
        }
    }
}