<div class="page">
	<!-- Roy: Crear nueva compañia -->	
	<div class="panel panel-default" data-ng-controller="NewCompanyCtrl">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Crear nueva compañia</strong></div>
		<div class="panel-body">
			<form name="form_NewCompany" novalidate class="form-validation">
				<div class="form-group">
					<label for="">Razon Social</label>
					<input  type="text"
					class="form-control"
					autofocus 
					data-ng-minlength=5
					data-ng-model="company.businessOwner"
					>

					<label for="">Nombre Comercial</label>
					<input  type="text"
					class="form-control"
					required
					data-ng-minlength=5
					data-ng-model="company.businessName"
					>

					<label for="">Numero de identificación tributaria</label>
					<input  type="text"
					class="form-control"
					required
					data-ng-minlength=9
					data-ng-model="company.nit">

					<label for="">Email</label>
					<input  type="email"
					class="form-control"
					required
					name="email"
					data-ng-minlength=15
					data-ng-model="company.email">

					<label for="">Email Administracion</label>
					<input  type="email"
					class="form-control"
					required
					name="emailAdministrative"
					data-ng-minlength=15
					data-ng-model="company.emailAdministrative">

					<label for="">Email Contabilidad</label>
					<input  type="email"
					class="form-control"
					required
					name="emailAccounting"
					data-ng-minlength=15
					data-ng-model="company.emailAccounting">

					<label for="">Email Ventas</label>
					<input  type="email"
					class="form-control"
					required
					name="emailSales"
					data-ng-minlength=15
					data-ng-model="company.emailSales">

					<p ng-show="form_NewCompany.email.$invalid && form_NewCompany.email.$dirty" class="text-danger">Verifique la validez del correo.</p>	

					<label for="">Dirección</label>
					<input  type="text"
					class="form-control"
					required
					data-ng-minlength=15
					data-ng-model="company.address">

					<label for="">Telefono</label>
					<input type="tel"
					class="form-control"
					name="phone"
					required
					data-ng-minlength=10
					data-ng-maxlength=12
					data-ng-pattern="/^[0-9]+$/"
					data-ng-model="company.phone"
					>
					<p ng-show="form_NewCompany.phone.$invalid && form_NewCompany.phone.$dirty" class="text-danger">El numero de telefono debe tener entre 10 y 12 números unicamente. Recuerdo incluir el codigo de pais.</p>			

					<!-- Roy: City Select -->
					<div class="form-group text-center">
						<div class="select-group">
							<span class="ui-select">
								<select ng-model="company.citySelected" ng-options="city.name for city in cities" required>
									<option value="">- Seleccione la ciudad-</option>
								</select>
							</span> 
						</div>
					</div>
					<!-- Roy: City Select -->

				</div>
				<button type="submit"
				class="btn btn-success"
				data-ng-disabled="!canSubmit()"
				ng-click="createNewCompany()"
				>Crear empresa</button>
				<button class="btn btn-default"
				data-ng-disabled="!canRevert()"
				data-ng-click="revert()"
				>Limpiar Información</button>
				<div class="callout callout-info">
					<p>Recuerda que al crear una empresa ya se podran relacionar facturas de venta hacia la misma, tambien que todos los datos que introduzcas deben ser validos.</p>
					<p>El Boton de crear empresa estara disponible cuando se llenen todos los campos requeridos.</p>
					<p>El Boton de borrar estara disponible cuando algun campo este lleno.</p>
				</div>
			</form>
		</div>
	</div>
	
</div>
