<div class="page">
    
    <section class="ui-timeline">
        <article class="tl-item">
            <div class="tl-body">
                <div class="tl-entry">
                    <div class="tl-caption">
                        <a href="javascript:;" class="btn btn-primary btn-block">Today</a>
                    </div>
                </div>
            </div>
        </article>

        <article class="tl-item">
            <div class="tl-body">
                <div class="tl-entry">
                    <div class="tl-time">3 min ago</div>
                    <div class="tl-icon square-icon sm bg-info"><i class="fa fa-asterisk"></i></div>
                    <div class="tl-content">
                        <h4 class="tl-tile text-primary">Go hiking</h4>
                        <p>Consectetur adipisicing elit. Error, accusantium debitis voluptatem dolore excepturi ducimus fugiat nulla perspiciatis quo ipsum non eligendi nisi veniam maxime in quas atque omnis cumque!</p>
                    </div>
                </div>
            </div>
        </article>


        <article class="tl-item">
            <div class="tl-body">
                <div class="tl-entry">
                    <div class="tl-caption">
                        <a href="javascript:;" class="btn btn-danger btn-block">24 - 09 - 2014 </a>
                    </div>
                </div>
            </div>
        </article>


        <article class="tl-item alt">
            <div class="tl-body">
                <div class="tl-entry">
                    <div class="tl-time">7:30 AM</div>
                    <div class="tl-icon square-icon sm bg-success"><i class="fa fa-camera"></i></div>
                    <div class="tl-content">
                        <h4 class="tl-tile text-warning">Soluta nihil</h4>
                        <p>Incidunt, molestias odio soluta nihil accusantium sit nostrum doloremque. Recusandae, ullam, odio consequatur facere totam reiciendis similique dicta explicabo!</p>
                    </div>
                </div>
            </div>
        </article>

        <article class="tl-item">
            <div class="tl-body">
                <div class="tl-entry">
                    <div class="tl-time">12:55 PM</div>
                    <div class="tl-icon square-icon sm bg-danger"><i class="fa fa-folder-o"></i></div>
                    <div class="tl-content">
                        <h4 class="tl-tile text-success">Voluptas molestias</h4>
                        <p>At, veniam, officia pariatur voluptas molestias nobis distinctio quo temporibus! Nisi, fugit, ipsum, veritatis, optio consectetur nam molestiae quidem placeat deleniti animi ad nobis iure modi eius recusandae odio adipisci nesciunt.</p>
                    </div>
                </div>
            </div>
        </article>

        <article class="tl-item alt">
            <div class="tl-body">
                <div class="tl-entry">
                    <div class="tl-time">9:10 AM</div>
                    <div class="tl-icon square-icon sm bg-info"><i class="fa fa-gift"></i></div>
                    <div class="tl-content">
                        <h4 class="tl-tile text-primary">Sed cumque temporibus</h4>
                        <p>Deserunt sed cumque temporibus. Doloribus, iste, sit recusandae fugiat assumenda ea magni at doloremque ipsum amet molestias error mollitia maxime ad alias eos id cumque corporis placeat nisi a quaerat nemo magnam ab numquam ratione facere dolorum. Cumque, dolores, sint molestiae eaque quibusdam illo error!</p>
                    </div>
                </div>
            </div>
        </article>

    </section>

</div>