<div class="page" data-ng-controller="listCtrl">
    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span><span data-i18n=" Resumen de canjes"></span></strong></div>

        <div ng-show="redeemCoupons.length==0" class="callout callout-danger">
            <h4>No ha registrado canjes aún... </h4>
        </div>

        <div ng-show="redeemCoupons.length!=0">

            <div class="table-filters">
                <div class="row">
                    <div class="col-sm-4 col-xs-6">
                        <form>
                            <input type="text"
                            placeholder="buscar"
                            id="searchKeywords"
                            class="form-control"
                            data-ng-model="searchKeywords"
                            data-ng-keyup="search()" />
                        </form>
                    </div>
                    <div class="col-sm-3 col-xs-6 filter-result-info">
                        <span>
                            Mostrando {{filteredRedeemCoupons.length}}/{{redeemCoupons.length}} registros
                        </span>              
                    </div>
                </div>
            </div>

            <table ng-table="redeemTable" class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th><div class="th">
                            #
                            <span id="orderIDRedeemUP" class="glyphicon glyphicon-chevron-up"
                            data-ng-click=" order('redemptionID') "
                            data-ng-class="{active: row == 'redemptionID'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                            data-ng-click=" order('-redemptionID') "
                            data-ng-class="{active: row == '-redemptionID'}"></span>
                        </div></th>
                        <th><div class="th">
                            Fecha
                            <span class="glyphicon glyphicon-chevron-up"
                            data-ng-click=" order('creationDate') "
                            data-ng-class="{active: row == 'creationDate'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                            data-ng-click=" order('-creationDate') "
                            data-ng-class="{active: row == '-creationDate'}"></span>
                        </div></th>
                        <th><div class="th">
                            #Cup
                            <span class="glyphicon glyphicon-chevron-up"
                            data-ng-click=" order('coupons') "
                            data-ng-class="{active: row == 'coupons'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                            data-ng-click=" order('-coupons') "
                            data-ng-class="{active: row == '-coupons'}"></span>
                        </div></th>
                        <th><div class="th">
                            Canje
                            <span class="glyphicon glyphicon-chevron-up"
                            data-ng-click=" order('itemName') "
                            data-ng-class="{active: row == 'itemName'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                            data-ng-click=" order('-itemName') "
                            data-ng-class="{active: row == '-itemName'}"></span>
                        </div></th>
                        <th><div class="th">
                            Status
                            <span class="glyphicon glyphicon-chevron-up"
                            data-ng-click=" order('status') "
                            data-ng-class="{active: row == 'status'}"></span>
                            <span class="glyphicon glyphicon-chevron-down"
                            data-ng-click=" order('-status') "
                            data-ng-class="{active: row == '-status'}"></span>
                        </div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="redeemCoupon in currentPageRedeemCoupons">
                        <td>{{redeemCoupon.redemptionID}}</td>
                        <td>{{redeemCoupon.creationDate}}</td>
                        <td>{{redeemCoupon.coupons}}</td>
                        <td>{{redeemCoupon.itemName}}</td>
                        <td>{{redeemCoupon.status}}</td>
                    </tr>
                </tbody>
            </table>

            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                        <span>
                            Mostrar 
                            <select id="selectNumPerPage" data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()">
                        </select> 
                        registros por pagina
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                    page="currentPage"
                    total-items="filteredRedeemCoupons.length"
                    max-size="4"
                    on-select-page="select(page)"
                    items-per-page="numPerPage"
                    rotate="false"
                    boundary-links="true"></pagination>
                </div>
            </div>

        </footer>
    </div>
</section>
</div>