<section class="page-form-ele page" data-ng-controller="sellerCtrl">
	<section class="panel panel-box">
		<div id="pointsWidget" class="panel-left panel-item bg-reverse" >
			<p class="size-h1">{{redeemableStuff.points}} </p>
			<p class="text-muted">Puntos</p>
		</div>
		<div class="panel-right panel-item bg-success">
			<i class="fa fa-cart-plus text-huge"></i>
		</div>
	</section>

	<accordion close-others="true" class="ui-accordion">
		<accordion-group heading="Configuración e inscripcion de Tokens" is-open="false">

		<form name="forms.tokensRedeemForm" class="form-validation" novalidate>	

			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 form-group">
				<input type="number" id="quantity" class="form-control" data-min=0 ng-minlenght=0 ng-maxlenght=30 ng-model="forms.quantity" placeholder="Cantidad de Tokens">
			</div>

			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 form-group">
				<button ng-click="loadInputs()" class="btn btn-primary btn-block"><span class="fa fa-file-o"></span> Preparar Formulario</button>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" />

			<div ng-show="forms.quantity>0" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
				<button class="btn btn-default btn-block"
				data-ng-disabled="!canRevert()"
				data-ng-click="revert()"
				><span class="fa fa-eraser"></span> Borrar </button>
			</div>

			<div ng-show="forms.quantity>0" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
				<button type="submit"
				id="registerToken4rafffleButton"
				class="btn btn-success btn-block"
				ng-click="registerToken4redeem()"
				data-ng-disabled="!canSubmit()"
				><span class="fa fa-database"></span> Registrar </button>
			</div>
			
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 form-group" ng-show="forms.quantity>0" ng-repeat="inp in inputs">
				<input 
				type="text"
				required
				ng-maxlength=14
				ng-minlength=14
				ng-model="tokensito"
				ng-raffle-tokens-tabs="input{{$index+2}}"
				class="form-control input-warning initialism"
				name="input{{$index+1}}" id="input{{$index+1}}">
			</div>
			

		</form>
	</accordion-group>



	<accordion-group heading="Canje de puntos por articulos" is-open="true">

	<form name="forms.redeemForm" class="form-validation" novalidate>	
		<div class="text-center">
			<div class="select-group">
				<span class="ui-select">
					<select ng-model="forms.itemSelected" ng-options="item.name for item in reachableItems" required>
						<option value="">- Seleccione Articulo -</option>
					</select>
				</span> 
			</div>
		</div>

		<button type="submit"
		id="registerRedemptionButton"
		class="btn btn-success btn-block"
		ng-click="registerRedemption()"
		data-ng-disabled="forms.itemSelected==''"
		><span class="fa fa-database"></span> Registrar Canje</button>

	</form>
</accordion-group>
</accordion>

</section>
