<section class="page-form-ele page" data-ng-controller="sellerCtrl">

	<form id="tokensRedeemForm" name="tokensRedeemForm" class="form-validation" novalidate>	


		<!-- <div class="row">
			<div class="col-sm-6">
				<section class="panel panel-box">
					<div class="panel-top bg-success">
						<i class="fa fa-shopping-cart text-large"></i>
					</div>
					<div class="panel-bottom bg-reverse">
						<p class="size-h1">369</p>
						<p class="text-muted">Puntos para canjeos</p>
					</div>
				</section>
			</div>

			<div class="col-sm-6">
				<section class="panel panel-box">
					<div class="panel-top bg-danger">
						<i class="fa fa-dollar text-large"></i>
					</div>
					<div class="panel-bottom bg-reverse">
						<p class="size-h1">231</p>
						<p class="text-muted">Cupones en rifas</p>
					</div>
				</section>
			</div>
		</div> -->

		<section class="panel panel-box">
			<div class="panel-left panel-item bg-reverse">
				<p class="size-h1">{{redeemCoupons.length}} </p>
				<p ng-show="redeemCoupons.length==1" class="text-muted">Cupon</p>
				<p ng-show="redeemCoupons.length!=1" class="text-muted">Cupones</p>
			</div>
			<div class="panel-right panel-item bg-success">
				<i class="fa fa-shopping-cart text-huge"></i>
			</div>
		</section>

		<section class="panel panel-default">
			<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Cantidad de tokens a registrar</strong></div>

			<div class="panel-body text-center">
				<div class="col-sm-4 form-group">
					<input type="number" id="quantity" class="form-control" data-min=0 ng-minlenght=0 ng-maxlenght=30 ng-model="quantity" placeholder="Cantidad de Tokens">
				</div>

				<div class="col-sm-8 form-group">
					<button ng-click="loadInputs()" class="btn btn-primary btn-block"><span class="fa fa-file-o"></span> Preparar Formulario</button>
				</div>
			</div>	
		</section>

		<section class="panel panel-default">
			<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Formulario de Tokens </strong></div>
			<div class="panel-body" >
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 form-group" ng-repeat="inp in inputs">
					<input 
					type="text"
					required
					ng-maxlength=14
					ng-minlength=14
					ng-model="tokensito"
					ng-raffle-tokens-tabs="input{{$index+2}}"
					class="form-control input-warning initialism"
					name="input{{$index+1}}" id="input{{$index+1}}">
				</div>

			</div>
		</section>

		<section class="panel panel-default">
			<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Inscripcion de Tokens </strong></div>
			<div class="panel-body text-center" >
				
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">
					<button class="btn btn-default btn-block"
					data-ng-disabled="!canRevert()"
					data-ng-click="revert()"
					><span class="fa fa-eraser"></span> Borrar Tokens</button>
				</div>

				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 form-group">					
					<button type="submit"
					id="registerToken4rafffleButton"
					class="btn btn-success btn-block"
					ng-click="registerToken4redeem()"
					data-ng-disabled="!canSubmit()"
					><span class="fa fa-database"></span> Inscribir Tokens</button>
				</div>

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
					<button ng-show="currentUser.userTypeID=='ADM'" class='btn btn-danger btn-block' ng-click="roYTesting()"><span class="fa fa-user-secret"></span> Roy TesT</button>
				</div>
				
			</div>
		</section> 

	</form>

</section>