<div class="page" data-ng-controller="newCreditNoteCtrl">
	<section class="panel panel-default table-dynamic">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span><span data-i18n=" Detales con canjes pendientes (Mostrando {{filteredRedeems.length}}/{{redeems.length}})"></span></strong></div>

		<div ng-show="redeems.length==0 && loadStatus" class="callout callout-success">
			<h4>Al día de hoy no existen notas de credito por generar... </h4>
		</div>

		<div ng-show="redeems.length!=0">

			<div class="table-filters">
				<div class="row">
				<form name="newCreditNoteForm" novalidate class="form-horizontal form-validation">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<input type="text"
							placeholder="buscar"
							id="searchKeywords"
							class="form-control"
							data-ng-model="searchKeywords"
							data-ng-keyup="search()" />
						</div>

						<!-- <div ng-show="fileURL!=null  || fileURL==''" class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> -->
						<div ng-show="newCreditNoteForm.$valid" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<button type="submit"
							class="btn btn-success btn-block"
							ng-click="saveCreditNote()"
							data-ng-disabled="seleccionada==null"
							><span class="fa fa-database"></span> Generar nota</button>
						</div>

						<div ng-show="seleccionada!=null" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<input type="text"
							placeholder="Link Google Drive de nota de credito de SIIGO"
							data-ng-minlength="10"
							data-ng-maxlength="150"
							class="form-control"
							data-ng-model="fileURL"
							name="fileURL" required 	/>
						</div>
					</form>

				</div>
			</div>

			<table ng-table="redeemTable" class="table table-bordered table-responsive">
				<thead>
					<tr>
						<th><div class="th">
							Detal
							<span id="orderIDRedeemUP" class="glyphicon glyphicon-chevron-up"
							data-ng-click=" order('businessName') "
							data-ng-class="{active: row == 'businessName'}"></span>
							<span id="orderIDRedeemDW" class="glyphicon glyphicon-chevron-down"
							data-ng-click=" order('-businessName') "
							data-ng-class="{active: row == '-businessName'}"></span>
						</div></th>
						<th><div class="th">
							Canjes
							<span class="glyphicon glyphicon-chevron-up"
							data-ng-click=" order('canRedeems') "
							data-ng-class="{active: row == 'canRedeems'}"></span>
							<span class="glyphicon glyphicon-chevron-down"
							data-ng-click=" order('-canRedeems') "
							data-ng-class="{active: row == '-canRedeems'}"></span>
						</div></th>
						<th><div class="th">
							Total
							<span class="glyphicon glyphicon-chevron-up"
							data-ng-click=" order('moneyRedeemed') "
							data-ng-class="{active: row == 'moneyRedeemed'}"></span>
							<span class="glyphicon glyphicon-chevron-down"
							data-ng-click=" order('-moneyRedeemed') "
							data-ng-class="{active: row == '-moneyRedeemed'}"></span>
						</div></th>
						<th><div class="th">
							Cupones
							<span class="glyphicon glyphicon-chevron-up"
							data-ng-click=" order('canTokens') "
							data-ng-class="{active: row == 'canTokens'}"></span>
							<span class="glyphicon glyphicon-chevron-down"
							data-ng-click=" order('-canTokens') "
							data-ng-class="{active: row == '-canTokens'}"></span>
						</div></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="redeem in currentPageRedeems" ng-click="getInfo($index)" ng-class="{'highlight':$index == selectedRow}">
						<td>{{redeem.businessName}}</td>
						<td>{{redeem.canRedeems}}</td>
						<td>{{redeem.moneyRedeemed | currency: currentUser.country.currency:0}}</td>
						<td>{{redeem.canTokens}}</td>
					</tr>
				</tbody>
			</table>

			<footer class="table-footer">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 page-num-info">
						<span>
							Mostrar 
							<select id="selectNumPerPage" data-ng-model="numPerPage"
							data-ng-options="num for num in numPerPageOpt"
							data-ng-change="onNumPerPageChange()">
						</select> 
						registros por pagina
					</span>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right pagination-container">
					<pagination class="pagination-sm"
					page="currentPage"
					total-items="filteredRedeems.length"
					max-size="4"
					on-select-page="select(page)"
					items-per-page="numPerPage"
					rotate="false"
					boundary-links="true"></pagination>
				</div>
			</div>
		</footer>

	</div>
</section>
</div>
