<div ng-controller="landingCtrl">
    <!-- HEADER -->
    <header>
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="col-md-12">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="./index.html">caycaSAMSUNGcompresores</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#/landing/dos">Inicio</a></li>
                            <li><a href="#/landing/dos#products">Productos</a></li>
                            <li><a href="#/landing/dos#whoWeAre">Quienes Somos</a></li>
                            <li><a class="page-scroll" href="#/landing/dos#contactUs">Contacto</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lock"></i> Mi cuenta <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#/accounts/signIn">Iniciar sesion</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Crear Cuenta de tecnico</a></li>
                                    <li><a href="#">Solicitar cuenta vendedor</a></li>
                                    <li><a href="#">Contactar equipo ventas SAMSUNG compresores</a></li>
                                    <li><a href="http://about.me/royedc4" target="_blank">Royedc4 new Page</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </nav>
    </header>

    <div style="padding-top: 70px;" class="text-center">
        <h1>PROGRAMA DE PREMIOS Y CANJES</h1>
        <hr>
        <h4>Creado especialmente para tiendas al detal y técnicos que distribuyan y comercialicen Compresores Samsung en Colombia</h4>
        <hr>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>
                Si usted es distribuidor al detal
            </h2>
            <hr>
            <p>
                Por la compra de 20 Compresores SAMSUNG, le obsequiamos uno para respaldar cualquier eventualidad de garantía.
            </p>
            <img src="/images/l/tablet-phone.png">
            <p>
                Además su equipo de ventas puede ganar cupones que podrán canjear por smarphones, tablets y mucho más!
            </p>
            <img src="/images/l/compresor-gratis.png">
        </div>

        <!-- Promo  -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>
                Si usted es técnico
            </h2>
            <hr>
            <img src="/images/l/tecnico.png">
            <p>
                Por la compra de un Compresor SAMSUNG,estará acumulando puntos que podrá canjear por productos que venda su tienda de refrigeracion de preferencia como centro de canje de esta promoción.
            </p>
            <p>
                Además, estará participando en el sorteo de una espectacular moto!
            </p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 id="whoWeAre" class="text-center">Quiénes somos </h1>
        <hr>
        <p> <strong>Cayca Samsung Compresores </strong>es una plataforma dirigida a distribuidores, técnicos y grupos de interés que brinda información y soporte técnico de Compresores Samsung disponibles en Colombia, Venezuela y Centro America y el Caribe (CAYCA). </p>
        <p>Es una aplicación informativa que asiste una promoción de canjes y rifas creada especialmente para tiendas al detal y técnicos que distribuyan y comercialicen Compresores Samsung en Colombia.</p>
        <p> <strong>Cayca Samsung Compresores </strong>no es un tienda online, ni proporciona información de precios de venta de Compresores Samsung. Su principal objetivo, es servir como una herramienta informativa y de apoyo a eventos, promociones o aspectos de interés general relacionados a los Compresores Samsung que se comercializan y distribuyen en Colombia, Venezuela y CAYCA.</p> 
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 id="products" class="text-center">Productos </h1>
        <hr>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 id="contactUs" class="text-center">Contáctanos </h1>
        <hr>

    </div>


    <div class="text-center"> 
        <div class="">
          <p><i class="fa fa-map-marker"></i> Colombia - Venezuela - Centro America y el Caribe</p>
          <a href="mailto:contacto@caycaSAMSUNGcompresores.com"> 
              <p><i class="fa fa-envelope"></i>contacto@caycaSAMSUNGcompresores.com</p>
          </a>
          <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"> </i></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
        <p>Copyright © 2015 Cayca Samsung Compresores.   <a href="http://" target="_blank">Terminos de uso  </a><a href="http://" target="_blank">Politicas de Privacidad</a></p>
    </div>
</div>
</div>