<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="/scripts/vendors/slider/swiper.min.css">
<!-- Demo styles -->
<style>
    html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;

    }
    .swiper-slide {

        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide img{ 
        height:100%; 
    }
    .swiper-wrapper {
        width: 100%;
        height: 100%;
    }
</style>

<!-- Swiper -->
<div class="swiper-container" style="padding-top: 50px;">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/l/s/1.jpg"></div>
        <div class="swiper-slide"><img src="/images/l/s/2.jpg"></div>
        <div class="swiper-slide"><img src="/images/l/s/3.jpg"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<div ng-controller="landingCtrl">
    <nav class="navbar navbar-default navbar-fixed-top landing-nav">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand text-white" href="#/landing">caycaSAMSUNGcompresores</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right text-white">
            <li><a href="#/landing#products">PRODUCTOS</a></li>
            <li><a class="page-scroll" href="#/landing#sellers">DISTRIBUIDORES</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-lock"></i> MI CUENTA <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/accounts/signIn">INICIAR SESION</a></li>
                    <li class="divider"></li>
                    <li><a href="#/accounts/signUp">CREAR CUENTA TECNICO</a></li>
                    <li><a href="#/accounts/retailerRequest">SOLICITAR CUENTA VENDEDOR</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<div class="landing-header">
    <div class="container text-center">
        <section class="logo">
            PROGRAMA DE PREMIOS Y CANJES
        </section>
    </div>
</div>
<div style="padding-top: 70px;" class="text-center text-thin">
    <div class="panel-body text-center">
        <hr>
        <h4 class="lead">Creado especialmente para tiendas al detal y técnicos que distribuyan y comercialicen Compresores Samsung en Centro América y el Caribe</h4>
        <hr>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>
                Si usted es distribuidor al detal
            </h2>
            <hr>
            <img src="/images/l/compresor-gratis.png">
            <p>
                Por la compra de 20 Compresores SAMSUNG, le obsequiamos otra unidad adicional para respaldar cualquier eventualidad de garantía.
            </p>
            <img src="/images/l/smartwatch.jpg">
            <p>
                Además su equipo de ventas puede ganar cupones que podrán canjear por smarphones, tablets y mucho más!
            </p>
        </div>

        <!-- Promo  -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h2>
                Si usted es técnico
            </h2>
            <hr>
            <img src="/images/l/tecnico.png">
            <p>
                Por la compra de un Compresor SAMSUNG,estará acumulando puntos que podrá canjear por productos que venda su tienda de refrigeracion de preferencia como centro de canje de esta promoción.
            </p>
            <p>
                Además, estará participando en el sorteo de una espectacular moto!
            </p>
        </div>
    </div>
</div>


<hr>
<div class="landing-header">
    <div class="container text-center">
        <section class="logo">
            PRODUCTOS
        </section>
    </div>
</div>
<div id="products" style="padding-top: 50px;">
    <div class="panel-body text-center">
        <h1 class="text-thin">Reciprocante</h1>
        <h5 class="lead text-center">Con un rendimiento de clase mundial, amigables con el medio ambiente vienen con gran poder y menos ruido.</h5>
        <br>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="rec in recCompressors">
            <img src="/images/l/compresor-reciprocante.png">
            <div class="text-title">{{rec.compressorID}}</div><span>{{rec.tittle}}</span><span>{{rec.subtitle}}</span>
            <br><a href="{{rec.url}}" target="_blank"><i class="fa fa-cloud-download"> Ficha Técnica</i></a>
        </div>
    </div>
    <div class="panel-body text-center">
        <h1 class="text-thin">Rotativo</h1>
        <h5 class="lead text-center">Proporciona características fiables y respetuosas con el medio ambiente para todas sus necesidades de refrigeración.</h5>
        <br>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center" ng-repeat="rot in rotCompressors">
            <img src="/images/l/compresor-rotativo.png">
            <div class="text-title">{{rot.compressorID}}</div><span>{{rot.tittle}}</span><span>{{rot.subtitle}}</span>
            <br><a href="{{rot.url}}" target="_blank"><i class="fa fa-cloud-download"> Ficha Técnica</i></a>
        </div>
    </div>
</div>

<hr>

<div class="landing-header">
    <div class="container text-center">
        <section class="logo">
            QUIÉNES SOMOS
        </section>
    </div>
</div>
<div id="whoWeAre" style="padding-top: 50px;">
    <div class="lead text-center">
            <p> <strong>Cayca Samsung Compresores </strong>es una plataforma dirigida a distribuidores, técnicos y grupos de interés que brinda información y soporte técnico de Compresores Samsung disponibles en Colombia, Venezuela y Centro America y el Caribe (CAYCA). </p>
            <p>Es una aplicación informativa que asiste una promoción de canjes y rifas creada especialmente para tiendas al detal y técnicos que distribuyan y comercialicen Compresores Samsung en Colombia.</p>
            <p> <strong>Cayca Samsung Compresores </strong>no es un tienda online, ni proporciona información de precios de venta de Compresores Samsung. Su principal objetivo, es servir como una herramienta informativa y de apoyo a eventos, promociones o aspectos de interés general relacionados a los Compresores Samsung que se comercializan y distribuyen en Colombia, Venezuela y CAYCA.</p> 
    </div>
</div>


<div class="landing-header">
    <div class="container text-center">
        <section class="logo">
            DISTRIBUIDORES EXCLUSIVOS
        </section>
    </div>
</div>
<div id="sellers" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="padding-top: 50px;">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-muted"> 
        <h4>Colombia & Centro America y el Caribe</h4>
        <p class="lead text-center"><a href="http://galliumdecolombia.com" target="_blank"> 🇨🇴 <i class="fa fa-external-link"> Gallium de Colombia S.A.S.</i></a></p><br>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-muted"> 
        <h4>Venezuela</h4>
        <p class="lead text-center"><a href="http://compresoresservicios.com" target="_blank"> 🇻🇪 <i class="fa fa-external-link"> Compresores Servicios C.A.</i></a></p><br>
    </div>
</div>

<hr>

<div class="text-center"> 
    <h1>   
      <a href="mailto:contacto@caycaSAMSUNGcompresores.com"><i class="fa fa-envelope"></i></a>
      <a href="https://www.facebook.com/caycaSAMSUNGcompresores" target="_blank"><i class="fa fa-facebook-square"></i></a> <a href="http://google.com/+Caycasamsungcompresores" target="_blank"><i class="fa fa-google-plus-square"> </i></a>
  </h1>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-muted text-small landing-footer"> 
      <p><i class="fa fa-map-marker"></i> Centro América y el Caribe</p>
      <p>Copyright © 2015-2016 Cayca Samsung Compresores.   <a href="http://" target="_blank">Terminos de uso  </a><a href="http://" target="_blank">Politicas de Privacidad</a></p>
  </div>
</div>

<!-- Swiper JS -->
<script src="/scripts/vendors/slider/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        keyboardControl: true,
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 5000,
        loop: true,
        grabCursor:true,
        autoplayDisableOnInteraction: true
    });
</script>