<section class="page-form-ele page" data-ng-controller="makeLabelsCtrl">

	<form id="serialsForm" name="serialsForm" class="form-validation" novalidate>


		<section class="panel panel-default">
			<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Configuración</strong></div>

			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<div class="input-group">
							<input type="number" class="form-control" ng-minlenght=0 ng-maxlenght=30 ng-model="quantity">
						</div>
					</div>
				<!-- <div class="col-md-3">
					<p>
						Seleccione la cantidad de compresores:
						<span class="space"></span>
						<span class="ui-select"><select ng-model="quantity" ng-options="opt for opt in inputOptions.quantity"></select></span>
					</p>
				</div> -->
				<div class="col-md-9">
					<button ng-click="loadInputs()" class="btn btn-primary btn-block"><span class="fa fa-file-o"></span> Preparar</button>
				</div>
			</div>


		</div>	
	</section>


	<section class="panel panel-default">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Ingreso de Seriales</strong></div>
		<div class="panel-body" >
			<!-- class={{inp.class}} -->

			<div class="col-sm-4 form-group" ng-repeat="inp in inputs">
				<input type="text"
				class="form-control input-warning"
				required
				data-ng-trim='false'
				data-ng-model="inp"
				data-validate-serials
				placeholder={{inp.placeholder}} 
				name="input{{$index+1}}" id="input{{$index+1}}" > 
			</div>

		</div>
	</section>




	<section class="panel panel-default">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Impresion y Registro </strong></div>
		<div class="panel-body" >
			<button class="btn btn-default"
			data-ng-disabled="!canRevert()"
			data-ng-click="revert()"
			><span class="fa fa-eraser"></span> Limpiar Formulario</button>


			<button class='btn btn-info' data-ng-disabled="!canSubmit()" ng-click="printSecurityLabel()"><span class="fa fa-print"></span>Solicitar Etiquetas</button>
			<button type="submit"
			class="btn btn-success"
			data-ng-disabled="!canSubmit()"
			><span class="fa fa-database"></span> Confirmar Impresiones y guardar</button>
			
			<div class="callout callout-info">
				<p>El Boton de guardar estara disponible cuando se ingresen y validen todos los seriales de compresores.</p>
				<p>El Boton de borrar estara disponible cuando algun serial se haya ingresado.</p>
			</div>
		</div>
	</section>


	<!-- Hide This adding class hidden-->
	<!-- <section class="panel panel-default ">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Visualizacion de Etiquetas!</strong></div>
		<div id="ROOOOY" >
			<h6 class="panel-body text-center" style="font-family:arial ; color:black ; font-size:17">
				MD152C-L1UB<br>
				1/6 HP - 584 BTU/H - LBP<br>
				115V - 60Hz - R134a<br>
				<img id="barcode1"/>
			</h6>
			<script>
				$("#barcode1").JsBarcode("4158C3BF800855", {width:,height:62});
			</script>
		</div>
	</section> -->

</form>

</section>