<div class="page">

  <div class="divider col-md-2"></div>
  <div class="row">
    <div class="col-md-4">
      <section class="pricing-table pricing-table-success">
        <header>Modo 1</header>
        <div class="pricing-body">
          <div class="pricing-price">
            Precavido
          </div>
          <ul>
            <li><h3>Proceso divido en 2 Etapas:</p>Etiquetado y Facturación<p>Por Separado</h3></li>
            <li><h4>Doble uso de lector de codigo de barras</h4></li>
            <li><h5>Dos Lecturas para</p>- Lectura para Generación de etiquetas previa a la venta<p>- Lectura para Registro de factura de venta</h5></li>
          </ul>                            
        </div>
        <footer><a href="javascript:;">
          <i class="fa fa-angle-double-right"></i> 
          <span>Escoger!</span>
        </a></footer>
      </section>
    </div>
    <div class="col-md-4">
      <section class="pricing-table pricing-table-info">
        <header>Modo 2</header>
        <div class="pricing-body">
          <div class="pricing-price">
            Aventurado
          </div>
          <ul>
            <li><h3>Proceso de una sola etapa:</p>Etiquetado y Facturación<p>A la vez</h3></li>
            <li><h4>Unico uso de lector de codigo de barras</h4></li>
            <li><h5>Unica Lectura para</p>- Generación de etiquetas<p>- Registro de factura de venta</h5></li>
              </ul>                            
            </div>
            <footer><a href="javascript:;">
              <i class="fa fa-angle-double-right"></i> 
              <span>Escoger!</span>
            </a></footer>
          </section>
        </div>
      </div>
    </div>
