<div class="page page-about">
    <div class="page-container">
        <div class="intro">
            <h2><strong>RIFAS</strong>2015</h2>
            <p class="lead">A todos los vendedores y tecnicos que adquieran compresores SAMSUNG en cualquier vendedor autorizado en Colombia que registren el cupon que viene con su compresor en nuestra <a href="http://www.caycaSAMSUNGcompresores.com">página web</a>, participan por la rifa de motos y otras sorpresas.</p>
        </div>

        <div class="row stat-container">
            <div class="col-sm-3 col-xs-6">
                <section class="stat-item">
                    <span class="stat-num"><timer end-time="1475280060000">{{days}}</timer></span>
                    <span class="stat-desc">Días</span>
                </section>
            </div>
            <div class="col-sm-3 col-xs-6">
                <section class="stat-item">
                    <span class="stat-num"><timer end-time="1475280060000">{{hours}}</timer></span>
                    <span class="stat-desc">Horas</span>                   
                </section>
            </div>
            <div class="col-sm-3 col-xs-6">
                <section class="stat-item">
                    <span class="stat-num"><timer end-time="1475280060000">{{minutes}}</timer></span>
                    <span class="stat-desc">Minutos</span>                
                </section>
            </div>
            <div class="col-sm-3 col-xs-6">
                <section class="stat-item">
                    <span class="stat-num"><timer end-time="1475280060000">{{seconds}}</timer></span>
                    <span class="stat-desc">Segundos</span>                   
                </section>
            </div>
        </div>

        <div class="row info-container">
            <div class="col-md-6">
                <h2>Mecanica del <strong>Sorteo</strong></h2>
                <p class="lead">El Ganador será anunciado del 8 al 15 de Septiembre de 2015 por correo electronico y por <a href="http://www.facebook.com/caycaSAMSUNGcompresores">Facebook</a>, adicionalmente se le contactará por teléfono y correo electrónico.</p>
                <p class="desc">Este sorteo esta autorizado por COLJUEGOS.</p>
            </div>
            <div class="col-md-6">
                <h2><strong>Condiciones</strong> Generales</h2>
                <p class="lead">Podrán participar en la actividad vendedores y tecnicos de compresores SAMSUNG  mayores de 18 años, que residan en el territorio Colombiano.</p>
                <p class="desc">Fecha Inicio: 1 de Octubre de 2015.<br>
                Fecha Limite para registrarse en la rifa: 30 de Septiembre de 2016.</p>
            </div>
        </div>
    </div>
</div>