<div class="page">

	<div class="panel panel-default" data-ng-controller="newCouponCtrl">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Registrar Token</strong></div>
		<div class="panel-body">
			<form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
				<div class="form-group">
					<label for="">Ingrese el token de compresor: </label>
					<input  type="text"
					class="form-control"
					required
					data-ng-minlength=14
					data-ng-model="form.token"
					>
				</div>
				<button type="submit"
				class="btn btn-success"
				data-ng-disabled="!canSubmit()"
				>Registrar Token</button>
			</form>
		</div>
	</div>

</div>
