<div class="page" data-ng-controller="databaseJobsCtrl">

	<section class="panel panel-default">
	<div class="panel panel-default" ng-show="currentUser.userTypeID=='MA' || currentUser.userTypeID=='ADM'">
				<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Stock de Compresores</strong></div>
				<div class="panel-body">
					<div morris-chart
					data-data="donutData"
					data-type="donut"
					data-xkey="year"
					data-colors='["#60CD9B","#66B5D7","#EEC95A","#E87352","#EE82EE","#6A5ACD","#FF8080","#00CED1","#FFA07A","#7FFFD4"]'
					></div>
				</div>
			</div>
		

		<div class="panel-heading"><strong> <span class="glyphicon glyphicon-th"></span>Database Jobs</strong></div>
		<div class="panel-body text-center">
			<p>roYCalderon =D</p>
			<p>
				<a href="" ng-click="specialProcess()" class="btn btn-info btn-metro">
					<i class="fa fa-flask"></i>
					<span>Special Process</span>
				</a>
				<a href="" ng-click="development()" class="btn btn-warning btn-metro">
					<i class="fa fa-code"></i>
					<span>:) Development</span>
				</a>
				<a href="" ng-click="magic()" class="btn btn-danger btn-metro">
					<i class="fa fa-magic"></i>
					<span>Magic =D</span>
				</a>
			</p>
		</div>
	</section> 

</div>