<div class="page" data-ng-controller="databaseJobsCtrl">

	<section class="panel panel-default">
		<div class="panel-heading"><strong> <span class="glyphicon glyphicon-th"></span>Database Jobs</strong></div>
		<div class="panel-body text-center">
			<p>roYCalderon =D</p>
			<p>
				<a href="" ng-click="specialProcess()" class="btn btn-info btn-metro">
					<i class="fa fa-flask"></i>
					<span>Special Process</span>
				</a>
				<a href="" ng-click="development()" class="btn btn-warning btn-metro">
					<i class="fa fa-code"></i>
					<span>:) Development</span>
				</a>
				<a href="" ng-click="magic()" class="btn btn-danger btn-metro">
					<i class="fa fa-magic"></i>
					<span>Magic =D</span>
				</a>
			</p>
		</div>
	</section> 

</div>