<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

 <!--    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Information for owners / Admin / managers"></span></strong></div>
        <div class="panel-body" data-ng-controller="flotChartCtrl">
            <div data-flot-chart
                 data-data="line1.data"
                 data-options="line1.options"
                 style="width: 100%; height: 300px;"
                 ></div>
        </div>
    </div>  
-->

<!-- MOC -->
<div ng-show="currentUser.userTypeID=='MOC'" class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="panel mini-box">
            <span class="box-icon bg-success">
                <i class="fa fa-ticket"></i>
            </span>
            <div class="box-info">
                <p class="size-h2">5</p>
                <p class="text-muted"><span data-i18n="Canjes de vendedor pendientes"></span></p>
            </div>
        </div>        
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="panel mini-box">
            <span class="box-icon bg-success">
                <i class="fa fa-money"></i>
            </span>
            <div class="box-info">
                <p class="size-h2">7</p>
                <p class="text-muted"><span data-i18n="Empresas esperando nota de credito"></span></p>
            </div>
        </div>        
    </div>
</div>
<!-- end MOC -->

<!-- Technician -->
<div ng-show="currentUser.userTypeID=='TEC'" class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="panel mini-box">
            <span class="box-icon bg-success">
                <i class="fa fa-ticket"></i>
            </span>
            <div class="box-info">
                <p class="size-h2">{{raffleCoupons}}</p>
                <p class="text-muted"><span data-i18n="Cupones en Rifa"></span></p>
            </div>
        </div>        
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="panel mini-box">
            <span class="box-icon bg-success">
                <i class="fa fa-money"></i>
            </span>
            <div class="box-info">
                <p class="size-h2">{{redeemableMoney | currency: currentUser.country.currency:0}}</p>
                <p class="text-muted"><span data-i18n="Dinero Por Canjear"></span></p>
            </div>
        </div>        
    </div>
</div>
<!-- end Technician -->

<!-- Seller -->
<div ng-show="currentUser.userTypeID=='DV' || currentUser.userTypeID=='DVC'" class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="panel mini-box">
            <span class="box-icon bg-success">
                <i class="fa fa-ticket"></i>
            </span>
            <div class="box-info">
                <p class="size-h2">{{raffleCoupons}}</p>
                <p class="text-muted"><span data-i18n="Cupones en Rifa"></span></p>
            </div>
        </div>        
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="panel mini-box">
            <span class="box-icon bg-success">
                <i class="fa fa-money"></i>
            </span>
            <div class="box-info">
                <p class="size-h2">{{redeemablePoints}}</p>
                <p class="text-muted"><span data-i18n="Puntos Por Canjear"></span></p>
            </div>
        </div>        
    </div>
</div>
<!-- End Seller -->

<!-- Maybe 4 MGC -->
<!-- <div class="panel panel-default" ng-show="currentUser.userTypeID=='MGC' || currentUser.userTypeID=='ADM'">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Resumen Ventas</strong></div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Modelo</th>
                <th>Descripción</th>
                <th>Progreso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>TWLT</td>
                <td>Amery Lee</td>
                <td><progressbar class="progressbar-xs no-margin" value="55"></progressbar>
                </tr>
                <tr>
                    <td>2</td>
                    <td>A16Z</td>
                    <td>Romayne Carlyn</td>
                    <td><progressbar class="progressbar-xs no-margin" value="34" type="success"></progressbar></td>
                </tr>
            </tbody>
        </table>
    </div> -->


    
    <div class="panel panel-default" ng-show="(currentUser.userTypeID=='MA' || currentUser.userTypeID=='ADM' ||  currentUser.userTypeID=='MGC')">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Stock de Compresores</strong></div>
        <div class="panel-body">
            <div 
            donut-chart
            donut-data=donutData 
            donut-colors='["#60CD9B","#335EF9","#F931F9","#EFF91F","#49F93A","#66B5D7","#EEC95A","#E87352","#EE82EE","#6A5ACD","#FF8080","#00CED1","#FFA07A","#7FFFD4"]' />
        </div>
    </div>
    

    <div ng-show="currentUser.userTypeID=='MA' || currentUser.userTypeID=='ADM' ||  currentUser.userTypeID=='MGC'" class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Progreso de Etiquetado</strong></div>
                <div class="panel-body text-center">
                    <div easypiechart options="labelingProgressPieChart.options" percent="labelingProgressPieChart.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="labelingProgressPieChart.percent"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Progreso de ventas</strong></div>
                <div class="panel-body text-center">
                    <div easypiechart options="salesProgressPieChart.options" percent="salesProgressPieChart.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="salesProgressPieChart.percent"></span>
                    </div>
                </div>
            </div>            
        </div>
    </div>



    <div ng-show="currentUser.userTypeID=='ADM'" class="row">

        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Mapa Mundial"></span></strong></div>
            <div class="panel-body" data-ng-controller="jqvmapCtrl">
                <div class="ui-map" ui-jqvmap options="worldMap"></div>
            </div>
        </section> 

    </div>


    <!-- stats -->
    <div ng-show="currentUser.userTypeID=='ADM'" class="row">
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-success">
                    <i class="fa fa-money"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">25 <span class="size-h4"></span></p>
                    <p class="text-muted"><span data-i18n=" Cupones para rifas"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-success">
                    <i class="fa fa-ticket"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">25 <span class="size-h4"></span></p>
                    <p class="text-muted"><span data-i18n=" Canjes realizados"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-info">
                    <i class="fa fa-users"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">112</p>
                    <p class="text-muted"><span data-i18n=" Tecnicos"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-users"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">112</p>
                    <p class="text-muted"><span data-i18n=" Vendedores"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-file-text-o"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">262</p>
                    <p class="text-muted"><span data-i18n=" Facturas de venta"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-warning">
                    <i class="fa fa-shopping-cart"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">4,550</p>
                    <p class="text-muted"><span data-i18n="Compresores Vendidos"></span></p>
                </div>
            </div>
        </div>

    </div>
    <!-- end stats -->

</div>
