<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

 <!--    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Information for owners / Admin / managers"></span></strong></div>
        <div class="panel-body" data-ng-controller="flotChartCtrl">
            <div data-flot-chart
                 data-data="line1.data"
                 data-options="line1.options"
                 style="width: 100%; height: 300px;"
                 ></div>
        </div>
    </div>  
-->


<div data-ng-controller="morrisChartCtrl">
    <div class="panel panel-default" ng-show="currentUser.userTypeID=='MA' || currentUser.userTypeID=='ADM'">
        <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>Stock de Compresores</div>
        <div class="panel-body">
            <div morris-chart
            data-data="donutData"
            data-type="donut"
            data-xkey="year"
            data-colors='["#60CD9B","#66B5D7","#EEC95A","#E87352"]'
            ></div>
        </div>
    </div>
</div>

<div data-ng-controller="chartCtrl">
    <div ng-show="currentUser.userTypeID=='MA' || currentUser.userTypeID=='ADM'" class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Progreso de Etiquetado!</h3>
                </div>
                <div class="panel-body text-center">
                    <div easypiechart options="easypiechart.options" percent="easypiechart.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart.percent"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Progreso de Ventas!</h3>
                </div>
                <div class="panel-body text-center">
                    <div easypiechart options="easypiechart2.options" percent="easypiechart2.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart2.percent"></span>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>



<div ng-show="currentUser.userTypeID=='ADM'" class="row">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Mapa Mundial"></span></strong></div>
        <div class="panel-body" data-ng-controller="jqvmapCtrl">
            <div class="ui-map" ui-jqvmap options="worldMap"></div>
        </div>
    </section> 

</div>


<!-- stats -->
<div ng-show="currentUser.userTypeID=='ADM'" class="row">
    <div class="col-lg-3 col-xsm-6">
        <div class="panel mini-box">
            <span class="box-icon bg-success">
                <i class="fa fa-rocket"></i>
            </span>
            <div class="box-info">
                <p class="size-h2">25 <span class="size-h4">%</span></p>
                <p class="text-muted"><span data-i18n="Nuevas Empresas"></span></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xsm-6">
        <div class="panel mini-box">
            <span class="box-icon bg-info">
                <i class="fa fa-users"></i>
            </span>
            <div class="box-info">
                <p class="size-h2">112</p>
                <p class="text-muted"><span data-i18n="Nuevos Usuarios"></span></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xsm-6">
        <div class="panel mini-box">
            <span class="box-icon bg-warning">
                <i class="fa fa-dollar"></i>
            </span>
            <div class="box-info">
                <p class="size-h2">4,550</p>
                <p class="text-muted"><span data-i18n="Puntos Recaudados"></span></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xsm-6">
        <div class="panel mini-box">
            <span class="box-icon bg-danger">
                <i class="fa fa-shopping-cart"></i>
            </span>
            <div class="box-info">
                <p class="size-h2">262</p>
                <p class="text-muted"><span data-i18n="Cupones Generados"></span></p>
            </div>
        </div>
    </div>

</div>
<!-- end stats -->

</div>
