        
<div id="nav-wrapper">
    <ul id="nav"
    data-ng-controller="NavCtrl"
    data-slim-scroll
    data-collapse-nav
    data-highlight-active>

    <li >
        <a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Panel Inicial {{currentUser.userTypeID}}"></span></a>
    </li>

    <!--2. Roy: Compresors [Rol: caYca] -->
    <li ng-show="currentUser.userTypeID=='ADM'">
        <a href="#/compressors"><i class="fa fa-qrcode"></i><span data-i18n="Compresores"></span></a>
        <ul>
            <li><a href="#/compressors/compressorsLoad"><i class="fa fa-barcode"></i> <span data-i18n="Carga de Seriales"></span></a></li>
        </ul>
        <ul>
            <li><a href="#/compressors/keysLoad"><i class="fa fa-lock"></i> <span data-i18n="Carga de Pines"></span></a></li>
        </ul>
    </li>


    <!--1. Roy: New Accounts [All Roles can create accounts for their lower roles] -->
    <li ng-show="( currentUser.userTypeID=='MGC' ) || ( currentUser.userTypeID=='ADM' )">
        <a href="#/accounts"><i class="fa fa-users"></i><span data-i18n="Cuentas"></span></a>
        <ul>
            <li><a href="#/accounts/accountsCreation"><i class="fa fa-user"></i> <span data-i18n="Crear Nueva Cuenta"></span></a></li>
        </ul>
    </li>
    <li ng-show="currentUser.userTypeID=='MGC'">
        <a href="#/companies"><i class="fa fa-building"></i><span data-i18n="Empresas"></span></a>
        <ul>
            <li><a href="#/companies/newCompany"><i class="fa fa-suitcase"></i> <span data-i18n="Crear nueva empresa"></span></a></li>
        </ul>
    </li>
    <li ng-show="currentUser.userTypeID=='MGC'">
        <a href="#/promotions"><i class="fa fa-list-ol"></i><span data-i18n="Promociones"></span></a>
        <ul>
            <li><a href="#/promotions/totalCoupons"> <i class="fa fa-list-ol"></i> <span data-i18n="Consultar Cupones"></span> </a></li>
        </ul>
        <ul>
            <li><a href="#/promotions/totalPoints"> <i class="fa fa-dashboard"></i> <span data-i18n="Consultar puntos"></span> </a></li>
        </ul>
        <ul>
            <li><a href="#/promotions/totalRedemptions"> <i class="fa fa-shopping-cart"></i> <span data-i18n="Consultar Canjeos"></span> </a></li>
        </ul>
    </li>
    
    <!--Roy: Labels  [Rol: Etiquetador] -->
    <li ng-show="currentUser.userTypeID=='MA' || currentUser.userTypeID=='ADM'">
        <a href="#/records"><i class="fa fa-cart-plus"></i><span data-i18n="Etiquetas"></span></a>
        <ul>
            <li><a href="#/records/recordInfo"><i class="fa fa-tags"></i> <span data-i18n="Modus Operandi"></span></a></li>
            <!-- <li><a href="#/records/makeLabels"><i class="fa fa-tag"></i> <span data-i18n="Etiquetas op.1"></span></a></li>
            <li><a href="#/records/newLabels"><i class="fa fa-tag"></i> <span data-i18n="Etiquetas op.2!"></span></a></li> -->
            <li><a href="#/records/makeInvoice"><i class="fa fa-file"></i> <span data-i18n="Nueva Factura"></span></a></li>
        </ul>
    </li>

    <!--Roy: Labels  [Rol: Etiquetador] -->
    <li ng-show="currentUser.userTypeID=='MA' || currentUser.userTypeID=='ADM'">
        <a href="#/labels"><i class="fa fa-tags"></i><span data-i18n="Etiquetas"></span></a>
        <ul>
            <li><a href="#/labels/production"><i class="fa fa-tag"></i> <span data-i18n="Producción"></span></a></li>
        </ul>
    </li>


    <!--Roy: Redemptions [Rol: Technician/Seller] -->
    <li ng-show="currentUser.userTypeID=='TEC'">
        <a href="#/redemptions"><i class="fa fa-copy"></i><span data-i18n="Canjeos"></span></a>
        <ul>
            <li><a href="#/redemptions/checkPoints"><i class="fa fa-file-text"></i> <span data-i18n="Chequear puntos"></span></a></li>
            <li><a href="#/redemptions/checkRedemptions"><i class="fa fa-file-text"></i> <span data-i18n="Chequear canjeo"></span></a></li>
            <li><a href="#/redemptions/newRedemption"><i class="fa fa-file-text"></i> <span data-i18n="Nuevo canjeo"></span></a></li>
        </ul>
    </li>
    <!--Roy: Raffles [Rol: Technician/Seller] -->
    <li ng-show="currentUser.userTypeID=='TEC'">
        <a href="#/raffles"><i class="fa fa-trophy"></i><span data-i18n="Rifas"></span></a>
        <ul>
            <li><a href="#/raffles/checkCoupons"><i class="fa fa-plus"></i> <span data-i18n="Chequear Cupones"></span></a></li>
            <li><a href="#/raffles/results"><i class="fa fa-trophy"></i> <span data-i18n="Ver Resultados"></span></a></li>
        </ul>
    </li>
    
    <!-- <li ng-show="currentUser.userTypeID=='TEC' OR currentUser.userTypeID=='DV'"> -->
    <li ng-show="currentUser.userTypeID=='TEC'">
        <a href="#/promotions/newCoupon"> <i class="fa fa-file-text"></i><span data-i18n="Registrar compresor"></span> </a>
    </li>


    <!--Roy:  Warranties [Rol: Mayor] -->
    <!-- <li>
        <a href="#/warranties"><i class="fa fa-copy"></i><span data-i18n="Garantías"></span></a>
        <ul>
            <li><a href="#/warranties/newWarranty"><i class="fa fa-file-text"></i> <span data-i18n="Nueva Garantía"></span></a></li>
            <li><a href="#/warranties/checkWarranty"><i class="fa fa-file-text"></i> <span data-i18n="Chequear Garantía"></span></a></li>
        </ul>
    </li> -->

    <!-- Roy: CRUD's Requeridos -->
    <!-- <li ng-hide="rolIsAdmin" class="ng-hide">
        <a href="#/cruds"><i class="fa fa-table"></i><span data-i18n="Admin ^_^"></span></a>
        <ul>
            <li><a href="#/accounts/accountsCreation"><i class="fa fa-user"></i><span data-i18n="Create new Account"></span></a></li>
        </ul>
    </li>
-->

    <!-- <li>
        <a href="#/ui"><i class="fa fa-magic"></i><span data-i18n="UI Kit"></span></a>
        <ul>
            <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i><span data-i18n="Buttons "></span></a></li>
            <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i><span data-i18n="Typography"></span></a></li>
            <li><a href="#/ui/widgets"><i class="fa fa-caret-right"></i><span data-i18n="Widgets"></span> <span class="badge badge-success">13</span></a></li>
            <li><a href="#/ui/grids"><i class="fa fa-caret-right"></i><span data-i18n="Grids"></span></a></li>
            <li><a href="#/ui/icons"><i class="fa fa-caret-right"></i><span data-i18n="Icons"></span></a></li>
            <li><a href="#/ui/components"><i class="fa fa-caret-right"></i><span data-i18n="Components"></span> <span class="badge badge-danger">17</span></a></li>
            <li><a href="#/ui/timeline"><i class="fa fa-caret-right"></i><span data-i18n="Timeline"></span></a></li>
            <li><a href="#/ui/nested-lists"><i class="fa fa-caret-right"></i><span data-i18n="Nested Lists"></span></a></li>
            <li><a href="#/ui/pricing-tables"><i class="fa fa-caret-right"></i><span data-i18n="Pricing Tables"></span></a></li>
        </ul>
    </li>
    <li>
        <a href="#/pages"><i class="fa fa-file-text-o"></i><span data-i18n="Pages"></span></a>
        <ul>
            <li><a href="#/pages/signin"><i class="fa fa-caret-right"></i><span data-i18n="Sign in"></span></a></li>
            <li><a href="#/pages/signup"><i class="fa fa-caret-right"></i><span data-i18n="Sign Up"></span></a></li>
            <li><a href="#/pages/forgot"><i class="fa fa-caret-right"></i><span data-i18n="Forgot Password"></span></a></li>
            <li><a href="#/pages/lock-screen"><i class="fa fa-caret-right"></i><span data-i18n="Lock Screen"></span></a></li>
            <li><a href="#/pages/profile"><i class="fa fa-caret-right"></i><span data-i18n="User Profile"></span></a></li>
            <li><a href="#/pages/404"><i class="fa fa-caret-right"></i>404 <span data-i18n="Error"></span></a></li>
            <li><a href="#/pages/500"><i class="fa fa-caret-right"></i>500 <span data-i18n="Error"></span></a></li>
            <li><a href="#/pages/blank"><i class="fa fa-caret-right"></i><span data-i18n="Blank Page"></span></a></li>
            <li><a href="#/pages/services"><i class="fa fa-caret-right"></i><span data-i18n="Services"></span></a></li>
            <li><a href="#/pages/about"><i class="fa fa-caret-right"></i><span data-i18n="About"></span></a></li>
            <li><a href="#/pages/contact"><i class="fa fa-caret-right"></i><span data-i18n="Contact"></span></a></li>
            <li><a href="#/pages/invoice"><i class="fa fa-caret-right"></i><span data-i18n="Invoice"></span></a></li>
        </ul>
    </li>

     <li>
        <a href="#/form"><i class="fa fa-pencil"></i><span data-i18n="Forms"></span></a>
        <ul>
            <li><a href="#/forms/elements"><i class="fa fa-caret-right"></i><span data-i18n="Form Elements"></span> <span class="badge badge-warning">14</span></a></li>
            <li><a href="#/forms/validation"><i class="fa fa-caret-right"></i><span data-i18n="Form Validation"></span></a></li>
            <li><a href="#/forms/wizard"><i class="fa fa-caret-right"></i><span data-i18n="Form Wizard"></span></a></li>
            <li><a href="#/forms/layouts"><i class="fa fa-caret-right"></i><span data-i18n="Form Layouts"></span></a></li>
        </ul>
    </li> -->
    
    

    <!-- <li>
        <a href="#/table"><i class="fa fa-table"></i><span data-i18n="Tables"></span></a>
        <ul>
            <li><a href="#/tables/static"><i class="fa fa-caret-right"></i><span data-i18n="Static Tables"></span></a></li>
            <li><a href="#/tables/responsive"><i class="fa fa-caret-right"></i><span data-i18n="Responsive Tables"></span></a></li>
            <li><a href="#/tables/dynamic"><i class="fa fa-caret-right"></i><span data-i18n="Dynamic Tables"></span></a></li>
        </ul>
    </li> -->
    

    <!-- <li>
        <a href="#/charts"><i class="fa fa-bar-chart-o"></i><span data-i18n="Charts"></span></a>
        <ul>
            <li><a href="#/charts/morris"><i class="fa fa-caret-right"></i>Morris <span data-i18n="Charts"></span></a></li>
            <li><a href="#/charts/flot"><i class="fa fa-caret-right"></i>Flot <span data-i18n="Charts"></span></a></li>
            <li><a href="#/charts/others"><i class="fa fa-caret-right"></i>Other <span data-i18n="Charts"></span></a></li>
        </ul>
    </li>
    <li>
        <a href="#/maps"><i class="fa fa-map-marker"></i><span data-i18n="Maps"></span></a>
        <ul>
            <li><a href="#/maps/gmap"><i class="fa fa-caret-right"></i><span data-i18n="Google Map"></span></a></li>
            <li><a href="#/maps/jqvmap"><i class="fa fa-caret-right"></i><span data-i18n="Vector Map"></span></a></li>
        </ul>
    </li>
    <li class="nav-task">
        <a href="#/tasks">
            <i class="fa fa-tasks"></i><span data-i18n="Tasks"></span>
            <span class="badge badge-info main-badge"
            data-ng-show="taskRemainingCount > 0">{{taskRemainingCount}}</span>
        </a>
    </li>
    <li>
        <a href="#/mail"><i class="fa fa-envelope-o"></i><span data-i18n="Mail"></span></a>
        <ul>
            <li><a href="#/mail/inbox"><i class="fa fa-caret-right"></i><span data-i18n="Inbox"></span></a></li>
            <li><a href="#/mail/compose"><i class="fa fa-caret-right"></i><span data-i18n="Compose"></span></a></li>
            <li><a href="#/mail/single"><i class="fa fa-caret-right"></i><span data-i18n="Single Mail"></span></a></li>
        </ul>
    </li> -->

    
</ul>
</div>