<div class="page-forgot" ng-controller="forgotPassRequestCtrl">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">{{main.brand}}</a>
            </section>
        </div>
    </div>

    <div class="info text-center">
        <h2>Recuperación de Contraseña</h2>
        <p class="text-small">Ingresa el correo registrado en nuestro sistema.</p>
        <p ng-show="emailValid==true" class="text-small text-success">Te hemos enviado un correo con las instrucciones para restablecer tu contraseña. Tienes 24 horas</p>
        <p ng-show="emailValid==false" class="text-small text-danger">El correo ingresado no esta registrado en nuestro sistema!</p>
    </div>

        <div class="form-container">

            <form class="form-horizontal" name="forgotPasswordForm">
                <div class="form-group">
                    <input type="email"
                    class="form-control input-lg"
                    data-ng-model="email"
                    placeholder="Correo Electronico"
                    data-ng-minlength=12
                    name="email"
                    id="email" 
                    required>
                </div>
                <p ng-show="forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$dirty" class="text-danger text-center">Verifique la validez del correo.</p>
                <div class="form-group">
                    <button data-ng-disabled="forgotPasswordForm.email.$invalid" class="btn btn-primary btn-lg btn-block" ng-click="requestReset()"
                    >Enviar Solicitud</button>
                </div>
            </div>

        </form>
    
</div>
</div>