<div class="page" data-ng-controller="compressorsCtrl">
	<section class="panel panel-default">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Cargar un archivo de EXCEL"></span></strong></div>		
       <!-- Upload -->
       <div class="panel-body">
          <div id="dropbox" class="drop-box"><span data-i18n="Arrastre el documento aquí"></span></div>
      </div>
      <!-- end Upload -->

  </section> 



  <section class="panel panel-default table-dynamic">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span><span data-i18n="Visualización de la información procesada"></span></strong></div>

    <div class="table-filters">
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <form>
                    <input type="text"
                    placeholder="buscar"
                    class="form-control"
                    data-ng-model="searchKeywords"
                    data-ng-keyup="search()">
                </form>
            </div>
            <div class="col-sm-3 col-xs-6 filter-result-info">
                <span>
                    Mostrando {{filteredSerials.length}}/{{serials.length}} registros
                </span>              
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th><div class="th">
                    Numero
                    <span id="orderUp" class="glyphicon glyphicon-chevron-up"
                    data-ng-click=" order('no') "
                    data-ng-class="{active: row == 'no'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                    data-ng-click=" order('-no') "
                    data-ng-class="{active: row == '-no'}"></span>
                </div></th>
                <th><div class="th">
                    Serial (C/N)
                    <span class="glyphicon glyphicon-chevron-up"
                    data-ng-click=" order('serialID') "
                    data-ng-class="{active: row == 'serialID'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                    data-ng-click=" order('-serialID') "
                    data-ng-class="{active: row == '-serialID'}"></span>
                </div></th>
                <th><div class="th">
                    Modelo
                    <span class="glyphicon glyphicon-chevron-up"
                    data-ng-click=" order('compressorID') "
                    data-ng-class="{active: row == 'compressorID'}"></span>
                    <span class="glyphicon glyphicon-chevron-down"
                    data-ng-click=" order('-compressorID') "
                    data-ng-class="{active: row == '-compressorID'}"></span>
                </div></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="serial in currentPageSerials">
                <td>{{serial.no}}</td>
                <td>{{serial.serialID}}</td>
                <td>{{serial.compressorID}}</td>
            </tr>
        </tbody>
    </table>

    <footer class="table-footer">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 page-num-info">
                <span>
                    Mostrar 
                    <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                registros por pagina
            </span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right pagination-container">
            <pagination class="pagination-sm"
            page="currentPage"
            total-items="filteredSerials.length"
            max-size="4"
            on-select-page="select(page)"
            items-per-page="numPerPage"
            rotate="false"
            boundary-links="true"></pagination>
        </div>
    </div>

</footer>
</section>

<section class="panel panel-default">
    <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Guardar datos"></span></strong></div>
    <div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <input id="number" ng-minlenght=1 ng-model="number" type="text" class="form-control" placeholder="#Factura" data-ng-trim='false' required>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <span class="ui-select">
                <select ng-model="companySelected" ng-options="company.businessName for company in companies">
                    <option value="">-- Seleccione Empresa --</option>
                </select>
            </span> 
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button ng-click="addSerials()" ng-disabled="companySelected==null" class="btn-block btn btn-success"><span class="fa fa-database"></span> Guardar seriales</button>
        </div>

    </div>
</section> 



</div>