<div class="page-signup">

<!--     <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">{{main.brand}}</a>
            </section>
        </div>
    </div> -->



    <!-- Roy: Opcion 1 -->
    <section class="panel panel-default">
        <div class="signup-body">
            <div class="container">
            <!-- <div class="callout callout-info">
                <h4>Creación de cuentas</h4>
                <p>Aquí crearas cuentas de tipo <strong>Tipo</strong>. Los cuales recibiran un correo con información para proceder.</p>
            </div> -->
            <div class="form-container">
                <section>
                    <div class="panel-body"  data-ng-controller="signupCtrl">

                        <form name="form_signup" class="form-horizontal form-validation" data-ng-submit="submitForm()">
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input  type="text"
                                    class="form-control"
                                    placeholder="Nombre Completo"
                                    data-ng-model="user.name"
                                    popover="Su nombre debe ser completo."
                                    popover-trigger="focus"
                                    required
                                    data-ng-minlength="2"
                                    data-ng-maxlength="30">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email"
                                    class="form-control"
                                    placeholder="Correo Electronico"
                                    data-ng-model="user.email"
                                    required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                    <input type="password"
                                    class="form-control"
                                    placeholder="Contraseña"
                                    data-ng-model="user.password"
                                    required
                                    data-ng-minlength="6">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                    <input type="password"
                                    class="form-control"
                                    placeholder="Verifique la contraseña"
                                    data-ng-model="user.confirmPassword"
                                    required
                                    data-validate-equals="user.password">
                                </div>
                            </div>

                   <!--          <div class="form-group">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input  type="number"
                                    class="form-control bfh-phone"
                                    placeholder="Telefono celular"
                                    data-ng-model="user.celphone"
                                    data-ng-minlength="8"
                                    data-ng-maxlength="12"
                                    >
                                </div>
                            </div> -->

                            <!-- Select -->
                            <div class="form-group">
                                <div class="select-group">
                                    <strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Seleccione Compañia"></span></strong>
                                    <span class="ui-select">
                                        <select>
                                            <option>Apple</option>
                                            <option>Google</option>
                                            <option>IBM</option>
                                        </select>
                                    </span>    
                                </div>
                            </div>
                            <!-- end Select -->
                            <div class="form-group">
                                <div class="col-md-6">
                                    <button type="submit"
                                    class="btn btn-success btn-block btn-lg"
                                    data-ng-disabled="!canSubmit()">Crear Nueva Cuenta</button>
                                </div>

                                <div class="col-md-6">
                                    <button class="btn btn-default btn-block btn-lg "
                                    data-ng-disabled="!canRevert()"
                                    data-ng-click="revert()"
                                    >Borrar</button>
                                </div>
                            </div>
                            
                            <div class="callout callout-info">
                                <p>El Boton de crear estara disponible cuando se llenen todos los campos requeridos.</p>
                                <p>El Boton de borrar estara disponible cuando algun campo este lleno.</p>
                            </div>


                            <div class="form-group">
                                <p class="text-muted text-small">Haciendo clic en Crear Nueva Cuenta, usted acepta los <a href="javascript:;">Terminos, condiciones </a> y la <a href="javascript:;">politica de privacidad.</a></p>
                                <div class="divider"></div>
                            </div>

                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<!-- Roy: Opcion 2 -->
    <!-- <div class="signup-body">
        <div class="container">
            <div class="form-container">
               <section>
                <div class="panel-body"  data-ng-controller="signupCtrl">

                    <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                        <div class="form-group">
                            <label for="">Required</label>
                            <input  type="text"
                            class="form-control"
                            required
                            data-ng-model="form.required"
                            >
                            <br>
                            <textarea class="form-control"
                            rows="10"
                            required
                            data-ng-model="form.required_textarea"></textarea>
                            <br>
                            <input  type="checkbox"
                            id="required_checkbox"
                            required
                            data-ng-model="form.required_checkbox"> 
                            <label for="required_checkbox">You need to agree to the Policy</label>
                        </div>
                        <div class="form-group">
                            <label for="">Length from 3 to 10</label>
                            <input  type="text"
                            class="form-control"
                            required
                            data-ng-minlength=3
                            data-ng-maxlength=10
                            data-ng-model="form.length_rage"
                            >
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label for="">Email</label>
                            <input  type="email"
                            class="form-control"
                            required
                            data-ng-model="form.email"
                            >
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label for="">Number value between 3 and 20</label>
                            <input  type="number"
                            class="form-control"
                            required
                            data-min=3
                            data-max=20
                            data-ng-model="form.valRange"
                            >
                            <span></span>
                        </div>
                        <div class="form-group">
                            <label for="">Match a pattern, e.g. hex color code</label>
                            <input  type="text"
                            class="form-control"
                            placeholder="Hex color code here, like #e5e5e5, or #fff"
                            required
                            data-ng-pattern="/^#(?:[0-9a-fA-F]{3}){1,2}$/"
                            data-ng-model="form.pattern"
                            >
                            <span></span>
                        </div>

                        <button type="submit"
                        class="btn btn-success"
                        data-ng-disabled="!canSubmit()"
                        >Sumbit</button>
                        <button class="btn btn-default"
                        data-ng-disabled="!canRevert()"
                        data-ng-click="revert()"
                        >Revert Changes</button>
                        <div class="callout callout-info">
                            <p>Sumbit button will be active only when all fields are valid.</p>
                            <p>Revert button will be active only when one or more fields is changed.</p>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div> -->

<!-- Roy: Opcion 3 -->
<!-- <section class="panel panel-default">
    <div class="col-md-12" data-ng-controller="formConstraintsCtrl">
        <div class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Constraints</strong></div>
            <div class="panel-body">
                <form name="form_constraints" class="form-validation" novalidate data-ng-submit="submitForm()">
                    <div class="form-group">
                        <label for="">Required</label>
                        <input  type="text"
                        class="form-control"
                        required
                        data-ng-model="form.required"
                        >
                        <br>
                        <textarea class="form-control"
                        rows="10"
                        required
                        data-ng-model="form.required_textarea"></textarea>
                        <br>
                        <input  type="checkbox"
                        id="required_checkbox"
                        required
                        data-ng-model="form.required_checkbox"> 
                        <label for="required_checkbox">You need to agree to the Policy</label>
                    </div>
                    <div class="form-group">
                        <label for="">Max length 10</label>
                        <input  type="text"
                        class="form-control"
                        required
                        data-ng-maxlength=10
                        data-ng-model="form.maxlength"
                        >
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label for="">Length from 3 to 10</label>
                        <input  type="text"
                        class="form-control"
                        required
                        data-ng-minlength=3
                        data-ng-maxlength=10
                        data-ng-model="form.length_rage"
                        >
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input  type="email"
                        class="form-control"
                        required
                        data-ng-model="form.email"
                        >
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label for="">Url</label>
                        <input  type="url"
                        class="form-control"
                        required
                        data-ng-model="form.url"
                        >
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label for="">Number value between 3 and 20</label>
                        <input  type="number"
                        class="form-control"
                        required
                        data-min=3
                        data-max=20
                        data-ng-model="form.valRange"
                        >
                        <span></span>
                    </div>
                    <div class="form-group">
                        <label for="">Match a pattern, e.g. hex color code</label>
                        <input  type="text"
                        class="form-control"
                        placeholder="Hex color code here, like #e5e5e5, or #fff"
                        required
                        data-ng-pattern="/^#(?:[0-9a-fA-F]{3}){1,2}$/"
                        data-ng-model="form.pattern"
                        >
                        <span></span>
                    </div>

                    <button type="submit"
                    class="btn btn-success"
                    data-ng-disabled="!canSubmit()"
                    >Sumbit</button>
                    <button class="btn btn-default"
                    data-ng-disabled="!canRevert()"
                    data-ng-click="revert()"
                    >Revert Changes</button>
                    <div class="callout callout-info">
                        <p>Sumbit button will be active only when all fields are valid.</p>
                        <p>Revert button will be active only when one or more fields is changed.</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> -->
</div>