<div class="page-signup">

    <!-- Roy: Opcion 1 -->
    <section class="panel panel-default">
        <div class="signup-body">
            <div class="container">
            <!-- <div class="callout callout-info">
                <h4>Creación de cuentas</h4>
                <p>Aquí crearas cuentas de tipo <strong>Tipo</strong>. Los cuales recibiran un correo con información para proceder.</p>
            </div> -->

            <div class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Crear nueva cuenta</strong></div>


                <div class="form-container">
                    <section>
                        <div class="panel-body"  data-ng-controller="NewAccountCtrl">

                            <form name="form_NewAccount" class="form-horizontal form-validation" data-ng-submit="submitForm()">
                                <!-- company Select -->
                                <div class="form-group text-center">
                                    <div class="select-group">
                                        <span class="ui-select">
                                            <select ng-model="user.userTypeSelected" ng-options="userType.description for userType in userTypes" required>
                                                <option value="">- Seleccione Tipo de Cuenta -</option>
                                            </select>
                                        </span> 
                                    </div>
                                </div>
                                <!-- end company Select -->
                                <!-- city Select -->
                                <div class="form-group text-center">
                                    <div class="select-group">
                                        <span class="ui-select">
                                            <select ng-model="user.citySelected" ng-options="city.name for city in cities" required>
                                                <option value="">- Seleccione la ciudad-</option>
                                            </select>
                                        </span> 
                                    </div>
                                </div>
                                <!-- end city Select -->
                                <!-- Company Selection -->
                                <!-- Typeahead -->
                                <div class="form-group"
                                >
                                    <div class="input-group input-group-lg"
                                    ng-show="user.userTypeSelected.userTypeID=='DV'">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-briefcase"></span>
                                        </span>
                                        <input type="text"
                                        ng-show="user.userTypeSelected.userTypeID=='DV'"
                                        ng-model="selected"
                                        typeahead="retailer.businessName for retailer in retailers | filter:$viewValue | limitTo:20"
                                        class="form-control"
                                        placeholder="Nombre de empresa"
                                        >

                                    </div>
                                </div>
                                <!-- end Company Selection -->
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </span>
                                        <input  type="text"
                                        class="form-control"
                                        placeholder="Nombre Completo"
                                        data-ng-model="user.fullName"
                                        popover="Su nombre debe ser completo."
                                        popover-trigger="focus"
                                        required
                                        data-ng-minlength="7"
                                        data-ng-maxlength="40">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        <input type="email"
                                        class="form-control"
                                        placeholder="Correo Electronico"
                                        data-ng-model="user.email"
                                        required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-map-marker"></span>
                                        </span>
                                        <input type="text"
                                        class="form-control"
                                        placeholder="Dirección"
                                        data-ng-model="user.address"
                                        required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-phone-alt"></span>
                                        </span>
                                        <input type="tel"
                                        class="form-control"
                                        placeholder="Telefono Hogar"
                                        data-ng-model="user.phone"
                                        required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-phone"></span>
                                        </span>
                                        <input type="tel"
                                        class="form-control"
                                        placeholder="Telefono celular"
                                        data-ng-model="user.celphone"
                                        required>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-6">
                                        <button
                                        class="btn btn-success btn-block btn-lg"
                                        data-ng-disabled="!canSubmit()"
                                        ng-click="createNewAccount()">Crear Nueva Cuenta</button>
                                    </div>

                                    <div class="col-md-6">
                                        <button class="btn btn-default btn-block btn-lg "
                                        data-ng-disabled="!canRevert()"
                                        data-ng-click="revert()"
                                        >Borrar</button>
                                    </div>
                                </div>

                                <div class="callout callout-info">
                                    <p>Al crear la cuenta se enviara un email a la cuenta especificada conteniendo la información de inicio de sesión.</p>
                                    <p>El Boton de crear estara disponible cuando se llenen todos los campos requeridos.</p>
                                    <p>El Boton de borrar estara disponible cuando algun campo este lleno.</p>
                                </div>


                                <div class="form-group">
                                    <p class="text-muted text-small">Haciendo clic en Crear Nueva Cuenta, usted acepta los <a href="javascript:;">Terminos, condiciones </a> y la <a href="javascript:;">politica de privacidad.</a></p>
                                    <div class="divider"></div>
                                </div>

                            </form>
                        </div>
                    </section>
                </div>

            </div>

        </div>
    </div>
</section>
</div>