<div class="page-signin" data-ng-controller="LoginCtrl">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">{{main.brand}}</a>
            </section>
        </div>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">

                <form name="form_Login" class="form-horizontal form-validation" ng-submit="login()">
                    <fieldset>
                        
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                class="form-control"
                                placeholder="Contraseña Nueva"
                                ng-model="credentials.password"
                                data-ng-minlength="5"
                                required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                class="form-control"
                                placeholder="Repita su Contraseña nueva"
                                ng-model="credentials.passwordAgain"
                                data-ng-minlength="5"
                                required
                                >
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <button data-ng-disabled="!canSubmit()" class="btn btn-primary btn-lg btn-block"
                            >Cambiar Contraseña</button>
                        </div>

                    </fieldset>
                </form>

                <section>
                    <p class="text-center"><a href="#/pages/forgot">Olvidaste tu contraseña?</a></p>
                </section>
                
            </div>
        </div>
    </div>

</div>