<div class="page-signin" data-ng-controller="forgotPassChangeCtrl">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/">{{main.brand}}</a>
            </section>
        </div>
    </div>

    <div class="signin-body">
        <div class="container">
            <div class="form-container">

                <form name="form_Login" class="form-horizontal form-validation" ng-submit="login()">
                    <fieldset>

                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                class="form-control"
                                placeholder="Contraseña Nueva"
                                ng-model="credentials.password"
                                data-ng-minlength="5"
                                ng-disabled="tokenAuthenticity!='Aprobado'" 
                                required
                                >
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password"
                                class="form-control"
                                placeholder="Repita su Contraseña nueva"
                                ng-model="credentials.passwordAgain"
                                data-ng-minlength="5"
                                required
                                name="passwordAgain"
                                data-ng-pattern="credentials.password"
                                ng-disabled="tokenAuthenticity!='Aprobado'" 
                                >
                            </div>
                            <p class="text-center" ng-show="form_Login.passwordAgain.$invalid && form_Login.passwordAgain.$dirty" class="text-danger"> Las contraseñas no son iguales!</p>
                        </div>
                        <div ng-show="tokenAuthenticity=='Inexistente'" class="text-center">
                            <p class="text-danger"> 
                                No se ha generado solicitud para cambiar la contraseña, este incidente ha sido reportado. Para cambiar una contraseña:
                                <p class="text-center"><a href="#/pages/forgot">Olvidaste tu contraseña?</a></p>
                            </p>
                        </div>
                        <div ng-show="tokenAuthenticity=='Negado'" class="text-center">
                            <p class="text-danger"> 
                                El enlace para cambiar la contraseña caduco. Debes usar nuevamente la opción:
                                <p class="text-center"><a href="#/pages/forgot">Olvidaste tu contraseña?</a></p>
                            </p>
                        </div>
                        <div ng-show="tokenAuthenticity=='Aprobado'" class="form-group">
                            <button data-ng-disabled="!canSubmit()" class="btn btn-primary btn-lg btn-block" ng-click="changePassword()"
                            >Cambiar Contraseña</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>