<div class="page-signup">

	<div class="signin-header">
		<div class="container text-center">
			<section class="logo">
				<a href="#/">{{main.brand}}</a>
			</section>
		</div>
	</div>

	<div class="signup-body" >
		<div class="container">
			<div class="form-container" data-ng-controller="NewTechnician">

				<section >
					<form name="form_NewAccount" novalidate class="form-horizontal form-validation" data-ng-submit="submitForm()">

						<div class="form-group">
							<div class="input-group input-group-lg">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-user"></span>
								</span>
								<input  type="text"
								class="form-control"
								placeholder="Nombre Completo"
								data-ng-model="user.fullName"
								popover="Su nombre debe ser completo."
								popover-trigger="focus"
								required
								data-ng-minlength="7"
								data-ng-maxlength="40">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group input-group-lg">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-credit-card"></span>
								</span>
								<input type="text"
								name="ID"
								class="form-control"
								placeholder="Numero de identificación"
								data-ng-model="user.ID"
								data-ng-minlength=8
								data-ng-maxlength=11
								required>
							</div>
							<p ng-show="form_NewAccount.ID.$invalid && form_NewAccount.ID.$dirty" class="text-danger">Se debe arreglar la validación de la cedula (Agregar CC o CE)</p>
						</div>
						<div class="form-group">
							<div class="input-group input-group-lg">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-envelope"></span>
								</span>
								<input type="email"
								name="email"
								class="form-control"
								placeholder="Correo Electronico"
								data-ng-model="user.email"
								data-ng-minlength=15
								required>
							</div>
							<p ng-show="form_NewAccount.email.$invalid && form_NewAccount.email.$dirty" class="text-danger">Verifique la validez del correo.</p>
						</div>
						<div class="form-group">
							<div class="input-group input-group-lg">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-map-marker"></span>
								</span>
								<input type="text"
								data-ng-minlength=15
								class="form-control"
								placeholder="Dirección"
								data-ng-model="user.address"
								required>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group input-group-lg">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-phone-alt"></span>
								</span>
								<input type="tel"
								name="phone"
								data-ng-minlength=10
								data-ng-maxlength=12
								data-ng-pattern="/^[0-9]+$/"
								class="form-control"
								placeholder="Telefono Hogar"
								data-ng-model="user.phone"
								required>
							</div>
							<p ng-show="form_NewAccount.phone.$invalid && form_NewAccount.phone.$dirty" class="text-danger">El numero de telefono debe tener entre 10 y 12 números unicamente. Recuerdo incluir el codigo de pais.</p>
						</div>
						<div class="form-group">
							<div class="input-group input-group-lg">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-phone"></span>
								</span>
								<input type="tel"
								name="celphone"
								data-ng-minlength=10
								data-ng-maxlength=12
								data-ng-pattern="/^[0-9]+$/"
								class="form-control"
								placeholder="Telefono celular"
								data-ng-model="user.celphone"
								required>
							</div>
							<p ng-show="form_NewAccount.celphone.$invalid && form_NewAccount.celphone.$dirty" class="text-danger">El numero de celular debe tener entre 10 y 12 números unicamente. Recuerdo incluir el codigo de pais.</p>
						</div>


						<!-- city Select -->
						<div class="form-group text-center">
							<div class="select-group">
								<span class="ui-select">
									<select ng-model="user.citySelected" ng-options="city.name for city in cities" required>
										<option value="">- Seleccione la ciudad-</option>
									</select>
								</span> 
							</div>
						</div>
						<!-- end city Select -->


						<div class="form-group">
							<p class="text-muted text-small">Haciendo click en registrarme aceptas los <a href="javascript:;">terminos, condiciones</a> y <a href="javascript:;">la politica de privacidad</a></p>
							<div class="divider"></div>
							<a ng-click="createNewAccount()" class="btn btn-primary btn-block btn-lg" data-ng-disabled="!canSubmit()">Registrarme como técnico</a>
						</div>

					</form>
				</section>

				<section>
					<p class="text-center text-muted">Ya tienes una cuenta? <a href="#/accounts/signIn" >Inicia sesion ahora!</a></p>
				</section>

			</div>
		</div>
	</div>
</div>