<div class="page" data-ng-controller="eraseInvoiceCtrl">
	<section class="panel panel-default table-dynamic">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Eliminación de Facturas</strong></div>

		<div class="panel-body text-center">
			<div class="input-group input-block input-group-lg">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-file"></span>
				</span>
				<input  type="text" 
				class="form-control"
				placeholder="Ingrese el numero de factura a eliminar"
				data-ng-model="invoiceNumber">
			</div>

			<button ng-click="eraseInvoice()" class="btn btn-lg btn-block btn-danger">Eliminar Factura</button>

		</div>

	</section>
</div>