<div class="page" data-ng-controller="listSalesCtrl">
	<section class="panel panel-default table-dynamic">
		<div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Listado de ventas"></span></strong></div>

		<div ng-show="sales.length==0" class="callout callout-danger">
			<h4>No se encontraron facturas de ventas</h4>
			<p>Para ver sus facturas de ventas debe crearlas previamente usando la opción <a href="#/sales/newInvoice">Nueva Factura</a></p>
		</div>

		<div ng-show="sales.length!=0">

			<div class="table-filters">
				<div class="row">
					<div class="col-sm-4 col-xs-6">
						<form>
							<input type="text"
							placeholder="buscar"
							id="searchKeywords"
							class="form-control"
							data-ng-model="searchKeywords"
							data-ng-keyup="search()" />
						</form>
					</div>
					<div class="col-sm-3 col-xs-6 filter-result-info">
						<span>
							Mostrando {{filteredSales.length}}/{{sales.length}} registros
						</span>              
					</div>
				</div>
			</div>

			<table ng-table="salesTable" class="table table-bordered table-striped table-responsive">
				<thead>
					<tr>
						<th><div class="th">
							#Factura
							<span id="orderIDsalesUP" class="glyphicon glyphicon-chevron-up"
							data-ng-click=" order('number') "
							data-ng-class="{active: row == 'number'}"></span>
							<span class="glyphicon glyphicon-chevron-down"
							data-ng-click=" order('-number') "
							data-ng-class="{active: row == '-number'}"></span>
						</div></th>
						<th><div class="th">
							Fecha
							<span class="glyphicon glyphicon-chevron-up"
							data-ng-click=" order('date') "
							data-ng-class="{active: row == 'date'}"></span>
							<span class="glyphicon glyphicon-chevron-down"
							data-ng-click=" order('-date') "
							data-ng-class="{active: row == '-date'}"></span>
						</div></th>
						<th><div class="th">
							Empresa
							<span class="glyphicon glyphicon-chevron-up"
							data-ng-click=" order('businessName') "
							data-ng-class="{active: row == 'businessName'}"></span>
							<span class="glyphicon glyphicon-chevron-down"
							data-ng-click=" order('-businessName') "
							data-ng-class="{active: row == '-businessName'}"></span>
						</div></th>
						<th><div class="th">
							Email
							<span class="glyphicon glyphicon-chevron-up"
							data-ng-click=" order('email') "
							data-ng-class="{active: row == 'email'}"></span>
							<span class="glyphicon glyphicon-chevron-down"
							data-ng-click=" order('-email') "
							data-ng-class="{active: row == '-email'}"></span>
						</div></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="sale in currentPageSales">
						<td>{{sale.number}}</td>
						<td>{{sale.date}}</td>
						<td>{{sale.businessName}}</td>
						<td>{{sale.email}}</td>
					</tr>
				</tbody>
			</table>

			<footer class="table-footer">
				<div class="row">
					<div class="col-md-6 page-num-info">
						<span>
							Mostrar 
							<select id="selectNumPerPage" data-ng-model="numPerPage"
							data-ng-options="num for num in numPerPageOpt"
							data-ng-change="onNumPerPageChange()">
						</select> 
						registros por pagina
					</span>
				</div>
				<div class="col-md-6 text-right pagination-container">
					<pagination class="pagination-sm"
					page="currentPage"
					total-items="filteredSales.length"
					max-size="4"
					on-select-page="select(page)"
					items-per-page="numPerPage"
					rotate="false"
					boundary-links="true"></pagination>
				</div>
			</div>

		</footer>
	</div>
</section>
</div>